* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: inherit;
    box-sizing: border-box;
  }

html{
    font-family: "Poppins", sans-serif;
}

.banner{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container{
    width: 320px;
    height: 427px;
    overflow: hidden;
    background: #ffeec1;
}

.banner__text{
    padding-top: 47.05px;
    display: flex;
    align-items: center;
    height: 56px;
    flex-direction: column;
    position: relative;
    
}

.banner__text-small{
    font-size: 10.53px;
    font-weight: 600;
    position: absolute;
    top: -100px;
    opacity: 0;
    transition: opacity 1s ease;
}

.banner__text-big{
    font-size: 27.92px;
    font-weight: 800;
    position: absolute;
    left: -450px;
    top: 70px;
    z-index: 99;
    opacity: 0;
    transition: opacity 1s ease;
}

.banner__img{
    position: relative;
}

.banner__img-item{
    position: absolute;
}

.order1{
    z-index: 1;
    left: -51px;
    top: 167px;
}

.order2{
    z-index: 2;
    left: -96px;
    top: 44px;
}

.order3{
    z-index: 3;
    right: -70px;
    top: 70px;
}

.order4{
    z-index: 4;
    right: -67px;
    top: 220px;
}


